apipkg==1.4
attrs==17.4.0
coverage==4.4.2
cycler==0.10.0
decorator==4.2.1
execnet==1.5.0
gprof2dot==2017.9.19
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
line-profiler==2.1.2
matplotlib==2.1.2
memory-profiler==0.51.0
numpy==1.13.3
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
psutil==5.4.3
ptyprocess==0.5.2
py==1.5.2
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.3.2
pytest-cov==2.5.1
pytest-forked==0.2
pytest-mock==1.6.3
pytest-profiling==1.2.11
pytest-xdist==1.22.0
python-dateutil==2.6.1
pytz==2017.3
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
tox==2.9.1
traitlets==4.3.2
virtualenv==15.1.0
wcwidth==0.1.7
